.multiple_Choice > p {
  border: 1px solid gray;
  background-color: #f0f0f0;
  width: 40%;
  padding: 8px 6px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  outline: none;
}

.multiple_Choice > p:hover {
  background-color: black;
  color: white;
}

.btn {
  text-align: center;
}

.btn > button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.score {
  display: flex;
  justify-content: space-between;
}

.MuiLinearProgress-root {
  height: 15px !important;
}

.multiple_Choice > p[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.Question > p {
  font-size: 18px;
  margin-top: 20px;
}

.progress {
  background-color: white;
  --bs-progress-bar-bg: #808080;
  height: 27px;
  border-radius: 0px;
  transition-delay: 1ms !important;
  --bs-progress-bar-transition: 0.1s !important;
}
.progress__Container {
  padding: 0px 5%;
}
.progressbar {
  border: 1px solid #333;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  position: relative;
}
.fill {
  border-radius: inherit;
  height: 100%;
  transition: width 0.2s ease-in;
}
