h3{
  word-wrap: break-word;
}
.quizContainer {
  border: 1px solid gray;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
}

.multiple_Choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.multiple_Choice>p {
  border: 1px solid rgb(51, 50, 50);
  background-color: whitesmoke;
  width: 300px;
  padding: 10px;
  margin-left: 20px;
  text-align: center;
}

.multiple_Choice>p:hover {
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo>img {
  width: 200px;
}

.btn {
  text-align: center;
}

.btn>button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.finalResult{
  border: 1px solid gray;
  width: 500px;
  margin: auto;
  text-align: center;
}
.finalResult > .btn{
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 18px;
}
.score{
  display: flex;
  justify-content: space-between;
}
.MuiLinearProgress-root{
  height: 15px !important;
}